main {
  padding-bottom: 100px;
  background-color: #fff6e0;
 }

.bg-custom-green {
    background-color: #16a34a;
}
.text-custom-green {
    color: #16a34a;
}
.border-custom-green {
    border-color: #16a34a;
}

/* * 0. Telas grandes (desktops e laptops maiores) */
@media (min-width: 1200px) {
    
    .custom-banner-contato {
      width: 90%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
}

/*  * 1. Telas médias (laptops e tablets maiores) */
@media (min-width: 768px) and (max-width: 1199px) {
    
    .custom-banner-contato {
      width: 95%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
}

/*  * 2. Telas pequenas (smartphones maiores e tablets menores) */
@media (max-width: 767px) {
    
  .custom-banner-contato {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
  }
}

/*  * 3. Telas muito pequenas (smartphones menores) */
@media (max-width: 480px) {
    
  .custom-banner-contato {
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
  }