main {
  padding-bottom: 100px;
  background-color: #fff6e0;
 }

.bg-custom-green {
  background-color: #16a34a;
}

.text-custom-green {
  color: #16a34a;
}

.btn-outline-custom-green {
  color: #16a34a;
  border-color: #16a34a;
}

.btn-outline-custom-green:hover {
  color: #fff;
  background-color: #16a34a;
}

.isso {
  border: none;
}

.img-card {
  height: 20rem;
  width: 100%; /* Adiciona largura completa para manter a proporção */
}

.modal-img {
  height: 60vmin;
  width: 60vmin;
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner */
}

.modal-body {
  text-align: center; /* Centraliza o texto */
}

.modal-body p {
  max-width: 60vmin; /* Limita a largura máxima do parágrafo para o tamanho da imagem */
  margin: 10px auto; /* Adiciona uma margem automática para centralizar o texto */
  text-align: justify; /* Justifica o texto para melhor aparência */
  overflow-wrap: break-word;
}

.img-card {
  width: 100%;
  height: auto;
}

/* SUPERIOR DIREITA INFERIOR ESQUERDA */
.modal-img {
  width: 100%;
  height: auto;
  border: 2px solid #d5ef96;
  border-bottom: 0px;
}

.custom-banner-galeria {
  width: 80%;
  display: block;
  margin: 0px;
  padding: 0px;
}

.custom-banner-div {
  position: sticky;
  top: 0;
  transition: 1s;
  z-index: 10;
}

.custom-btn-galeria {
  border: 1px solid black;
  transition: ease-in-out 0.2s;
}

.custom-btn-galeria:hover{
  transform: scale(1.050);
  background-color: #d5ef96;
  transition: ease-in-out 0.5s;
}

.custom-legenda-galeria {
  font-weight: bold;
  margin: 0.313rem 0 0.313rem 0px;
}

.custom-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-modal-titulo-galeria {
  flex-grow: 1;
  text-align: center;
}

#custom-btn-galeria {
  margin: 0px;
  padding: 0px;
}

#custom-modal-body {
  padding: 1rem 1rem 0px 1rem;
}

/* SUPERIOR DIREITA INFERIOR ESQUERDA */
.custom-modal-legenda {
  margin: 0rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #fff6e0;
  border-radius: 0px 0px 20px 20px;
  border: 2px solid #d5ef96;
  border-top: 0px;
  padding-top: 0.625rem;
}

/* Telas grandes (desktops e laptops maiores) */
@media (min-width: 1200px) {
    .custom-navbar {
        background-color: #d5ef96;
    }

    .custom-img-navbar {
        width: 150px;
        height: 150px;
    }

    .custom-input-group {
        margin: 1rem 0;
        width: 50%;
    }

    .custom-ul-navbar {
        font-size: 1.1rem;
    }
    .custom-banner-galeria {
      width: 90%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
}

/*  * 1. Telas médias (laptops e tablets maiores) */
@media (min-width: 768px) and (max-width: 1199px) {
    .custom-navbar {
        padding: 1rem;
        background-color: #d5ef96;
    }

    .custom-img-navbar {
        width: 120px;
        height: 120px;
    }

    .custom-toggler-navbar {
        margin: 0 0 40px 0;
    }

    .custom-ul-navbar {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .custom-input-group {
        width: 70%;
        margin: 0.5rem 0;
    }
    .custom-banner-galeria {
      width: 95%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
}

/*  * 2. Telas pequenas (smartphones maiores e tablets menores) */
@media (max-width: 767px) {
    .custom-navbar {
        padding: 0.5rem;
        background-color: #d5ef96;
    }

    .custom-img-navbar {
        width: 80px;
        height: 80px;
    }

    .custom-toggler-navbar {
        margin: 0;
        flex-grow: 0;
    }

    .custom-ul-navbar {
        font-size: 0.9rem;
        text-align: center;
    }

    .custom-input-group {
        width: 100%;
    }

    .custom-button-navbar {
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
    }
    .custom-banner-galeria {
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
}

/*  * 3. Telas muito pequenas (smartphones menores) */
@media (max-width: 480px) {
    .custom-navbar {
        padding: 0.25rem;
        background-color: #d5ef96;
    }

    .custom-img-navbar {
        width: 60px;
        height: 60px;
    }

    .custom-toggler-navbar {
        margin-bottom: 20px;
    }

    .custom-ul-navbar {
        font-size: 0.8rem;
    }
    .custom-banner-galeria {
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
  }