.bg-custom-green {
    background-color: #16a34a; /* Cor verde equivalente ao green-600 do Tailwind */
}
.btn-outline-custom-green {
    color: #16a34a;
    border-color: #16a34a;
}
.btn-outline-custom-green:hover {
    color: #fff;
    background-color: #16a34a;
    border-color: #16a34a;
}