*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  "Lato", sans-serif;
  
}

body{
 background: #363c41;
}
.bg-green-600 {
  background-color: #28a745;
}
.text-color3 {
  color: #363c41;
}
.bg-color1 {
  background-color: #00ff00;
}
.bg-color2 {
  background-color: #00b300;
}
.hover-bg-color1:hover {
  background-color: #00ff00;
}
.hover-bg-color2:hover {
  background-color: #00b300;
}
 



.imgR{
  border-radius: 0 100px 100px 100px ;
}

@media (min-width:750px) {
  .imgR{
    margin: 30px 0 0 40px;
    width: 500px;
    border-radius: 20px;
  }
}





